.gallery-box {
    .image-gallery-svg {
        height: 30px;
        width: 30px;
    }
    .image-gallery-svg {
        height: 15px;
        width: 15px;
    }
}
.product-info-main {
    .product-info-right {
        .product-description {
            justify-content: left;
            margin: 20px 0;
        }
        .product-options-wrapper {
            .field {
                margin-top: 10px;
                label {
                    span {
                        font: 400 13px/1.35 Montserrat, Helvetica Neue, Verdana,
                        Arial, sans-serif;
                    font-weight: 600;
                    }
                }
                select {
                    width: 100%;
                    max-width: 400px !important;
                    height: 35px;
                    border-radius: 4px;
                }
            }
        }
        .product-options-qty {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            label.label {
                font-weight: 600;
                margin-right: 20px;
                text-transform: uppercase;
                margin-bottom: 0;
                span {
                    font-size: 14px;
                }
            }
            .cart-qty {
                display: flex;
                position: relative;
                .qty-ctl {
                    margin: 0;
                    border: solid 1px #dddddd;
                    i {
                        font-size: 20px;
                        position: relative;
                        top: 4px;
                        color: #717070;
                        transition: 0.2s ease;
                        &:hover {
                            color: #000000;
                        }
                    }
                    button {
                        border: none;
                        background-color: #fff;
                        cursor: pointer;
                        height: 38px;
                        padding: 0px 10px;
                        span {
                            display: none;
                        }
                    }
                }
                .plus {
                    position: relative;
                    right: 0;
                    border-left-width: 0;
                }
                .minus {
                    position: relative;
                    left: 0;
                    border-right-width: 0;
                }
                input {
                    text-align: center;
                    border: solid 1px #dddddd;
                    max-width: 68px;
                    padding: 0;
                    -webkit-appearance: none;
                    appearance: auto;
                    box-sizing: border-box;
                    height: 40px;
                    border-width: 1px 0;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }
        .wishlist-addtocart {
            text-align: center;
            .addtocart {
                border: none;
                padding: 10px 25px;
                width: 100%;
                margin: 20px 0;
                background: #a81018;
                color: #fff;
                cursor: pointer;
                span {
                    color: #fff;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
            .towishlist {
                border: none;
                background: #fff;
                color: #636363;
                cursor: pointer;
                text-transform: uppercase;
                svg {
                    margin-right: 8px;
                }
            }
        }
    }
}
